@font-face {
  font-family: "iconfont"; /* Project id 4169527 */
  src: url('iconfont.woff2?t=1689539321201') format('woff2'),
       url('iconfont.woff?t=1689539321201') format('woff'),
       url('iconfont.ttf?t=1689539321201') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Rrl_s_023:before {
  content: "\e61b";
}

.icon-cross:before {
  content: "\e605";
}

.icon-zhuangtaigougou:before {
  content: "\e604";
}

